<h1 class="text-center text-white mt-5">Find a freelancer!</h1>

<app-search-bar></app-search-bar>

<h2 class="text-center text-white mt-5">Recently posted</h2>

<div *ngIf="advertListLoaded" class="card-deck w-75 mx-auto mt-5">
    <div *ngFor="let advert of advertList" class="card p-2 m-2 shadow-lg">
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="text-dark" role="button" [routerLink]="['/advert/' + advert.id]">{{advert.title}}</a></h5>
        <h6 class="card-subtitle mb-3 text-muted">Posted by: <a href="#" role="button" [routerLink]="['/user/' + advert.user_id]">{{advert.username}}</a></h6>
        <h6 class="card-subtitle text-muted">Price: £{{advert.price}}</h6>
      </div>
    </div>
</div>