<div class="row row-cols-4 w-75 mx-auto my-5">
    <div class="col mb-5" *ngFor="let advert of advertList">
      <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title"><a href="#" class="text-dark" role="button" [routerLink]="['/advert/' + advert.id]">{{advert.title}}</a></h5>
            <h6 class="card-subtitle mb-3 text-muted">Posted by: <a href="#" role="button" [routerLink]="['/user/' + advert.user_id]">{{advert.username}}</a></h6>
            <h6 class="card-subtitle text-muted">Price: £{{advert.price}}</h6>
          </div>
      </div>
    </div>
</div>