<div class="card my-5 w-50">
    <div class="card-body">
        <h5 class="card-title">{{advert.title}}</h5>
        <h6 class="card-subtitle mb-3 text-muted">Posted by: <span role="button" [routerLink]="['user/{{advert.user_id.toString()}}']">{{advert.username}}</span></h6>
        <h6 class="card-subtitle mb-2 text-muted">Price: £{{advert.price}}</h6>
        <p class="card-text advert-desc">{{advert.description}}</p>
    </div>
    <div class="card-footer text-muted">
        Added {{advert.creation_date}}
    </div>
</div>