<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <span *ngIf="loggedIn(); then thenBlock; else elseBlock"></span>
      <ng-template #thenBlock>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{jwtTokenService.getUser()}}
          </a>
          <div
            class="dropdown-menu"
            id="dropdown"
            aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="dropdownProfile" [routerLink]="['/user/' + jwtTokenService.getUserId()]">Profile</a>
            <a
              class="dropdown-item"
              id="dropdownAddAdvert"
              routerLink="add-advert">Add advert</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" role="button" (click)="logOut()">Logout</a>
          </div>
        </li>
      </ng-template>
      <ng-template #elseBlock>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
