<h2 class="text-center text-white py-3">Registration form</h2>
<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <div class="form-group">
                <input type="text" [(ngModel)]="username" class="form-control" id="username" name="username"
                    placeholder="Username" required #query="ngModel" required pattern="\w{6,32}">
                <br>
                <input type="password" [(ngModel)]="passwordFirst" class="form-control" id="pwInput" name="passwordFirst"
                    placeholder="Password" required #query="ngModel">
                <br>
                <input type="password" [(ngModel)]="passwordSecond" class="form-control" id="pwInput" name="passwordSecond"
                    placeholder="Confirm password" required #query="ngModel">
                <div *ngIf="registerFailed" class="form-control mt-4 text-danger">{{failedMsg}}</div>
            </div>
            <button type="submit" [disabled]="!userForm.form.valid" id="registerButton" class="btn btn-info">Register</button>
        </form>
    </div>
</div>